extends template

block content
    h1 Home Page
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, quod, deleniti! Sit dolores quos optio nam? Voluptatem maxime ab neque voluptatibus quam hic dolorem suscipit sint voluptate aliquid, sit esse.